<%#이 파일은 장르 카드를 모두 보여줍니다%> <div class="ui view container">
  <div class="ui special cards" id="show-genres">
  <%
    if @select_show == "다가오는 공연"
        @shows.reverse.each do |show|
            if show.genre == @current_genre || "모아보기" == @current_genre
  %>
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
          <div class="content">
            <div class="center">
              <div class="ui primary button" id="view-modal-<%= show.id %>">더보기</div>
            </div>
          </div>
        </div>
        <img class="ui fluid image" src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg" />
      </div>
      <div class="content">
        <a class="header"><%= show.title %></a>
        <div class="meta">
          <% if show.creator.nil? %>
          <span class="date">장범준</span>
          <% else %>
          <span class="date"><%= show.creator.artist_name %></span>
          <% end %>
        </div>
        <div class="description">
          <%= show.location %>
        </div>
      </div>
      <div class="extra content">
          <i class="heart icon"></i>
          <%= show.likes.size %>
          <span class="right floated"><%= show.time %></span>
        </div>
      </div><!-- card -->
      <% end %>
    <% end %>

  <%
  else # 실시간 공연
      now = Time.now # 만약 스트링값으로 비교한다면 Time.now.asctime
      @shows.reverse.each do |show|
          if show.genre == @current_genre || "모아보기" == @current_genre
              unless show.start.nil?
                  if show.start <= now && show.end > now # 공연의 시작과 끝의 시간 사이에 있다면, 그 공연들만 보여준다

      # TODO 공연시작과 끝이 구현된다면
      # 시작한 공연이 있는지 찾고 변수에 담아서 @shows가 아닌
      # 그 변수에다가 하는게 좋을 듯(왜냐면 nil일 경우 000이 없습니다라고 해줄 메세지도 만들어야 하기 때문)
  %>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button" id="view-modal-<%= show.id %>">더보기</div>
          </div>
        </div>
      </div>
      <img class="ui fluid image" src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg" />
    </div>
    <div class="content">
      <a class="header"><%= show.title %></a>
      <div class="meta">
        <% if show.creator.nil? %>
        <span class="date">장범준</span>
        <% else %>
        <span class="date"><%= show.creator.artist_name %></span>
        <% end %>
      </div>
      <div class="description">
        <%= show.location %>
      </div>
    </div>
    <div class="extra content">
        <i class="heart icon"></i>
        <%= show.likes.size %>
        <span class="right floated"><%= show.date %></span>
      </div>
    </div><!-- card -->

            <% end %>
          <% end %>
        <% end %>
      <% end %>

    <% end %><%#if-else-end%>

  </div>
<%= will_paginate @shows %>
</div>
