<%#개별 뷰와 모달은 분리해서 만들겠습니다 %>
<%#이 파일은 공연페이지의 모든 모달을 불러옵니다 %>
<% @shows.each do |show| %>
<% @current_url = "http://localhost:3000/shows/#{ show.id }" %>
  <div class="ui view small modal <%= show.id %>">
    <i class="close icon"></i>

    <div class="header">
      <% if show.creator.nil? %>
      <a href="/artists/name/박효신" target="_blank"><!-- 공연작성자의 마이페이지로 이동 -->
        <img class="ui small circular image" src="https://i1.sndcdn.com/avatars-000138106130-hidund-t500x500.jpg">
      </a>
      <% else %>
      <a href="/artists/name/<%= show.creator.artist_name %>" target="_blank"><!-- 공연작성자의 마이페이지로 이동 -->
        <img class="ui small circular image" src="https://i1.sndcdn.com/avatars-000138106130-hidund-t500x500.jpg">
      </a>
      <% end %>
      <p class="header"><%= show.title %></p>
      <% if show.creator.nil? %>
      <small><a target="_blank" href="/artists/name/박효신">장범준</a></small>
      <% else %>
      <small><a target="_blank" href="/artists/name/<%= show.creator.artist_name %>"><%= show.creator.artist_name %></a></small>
      <% end %>
      <small><%= show.updated_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일") %></small>
    </div>

    <div class="ui fluid image">
      <img src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg">
    </div>

    <div class="description">
      <div class="ui list">
        <div class="item">
          <h3>공연정보</h3>
          <div class="content"><%= show.content %></div>
        </div>
        <div class="item">
          <i class="marker icon"></i>
          <div class="content">
            <% if show.location.nil? %>
            <%= show.location_x %>, <%= show.location_y %>
            <% else %>
            <%= show.location %>
            <% end %>
          </div>
        </div>
        <div class="item">
          <i class="checked calendar icon"></i>
          <div class="content"><%= show.start %></div>
        </div>
        <div class="item">
          <i class="info icon"></i>
          <div class="content"><%= show.genre %></div>
        </div>
        <div class="item playlist">
          <h3>플레이리스트</h3>
          <div class="content"><%= show.playlist %></div>
        </div>
      </div>
    </div>

    <div class="ui fluid basic buttons">
      <!-- 좋아요 = 꼭 보러갈래요, 로그인 한사람만 가능한 기능 -->
      <% unless current_user.nil? %>
        <% if current_user.is_like?(show) %>
         <a href="/shows/<%= show.id %>/like" class="ui button">
           <i class="heart icon"></i>
           <%= show.likes.size %>
         </a>
        <% else %>
         <a href="/shows/<%= show.id %>/like" class="ui button">
           <i class="empty heart icon"></i>
           <%= show.likes.size %>
         </a>
        <% end %>
      <% end %>
      <!--트위터 -->
      <a
         id="popup-<%= show.id %>"
         target="_blank"
         class="ui button twitter-share-button"
         href="https://twitter.com/intent/tweet?text=실시간 공연, %23게릴라트 <%= show.title %>&url=<%= @current_url %>"
         data-size="large">
         <i class="twitter icon"></i>
      </a>
      <!-- 페이스북 -->
      <a
        target="_blank"
        class="ui button"
        href="https://www.facebook.com/sharer/sharer.php?u=<%= @current_url %>">
        <i class="facebook f icon"></i>
      </a>
      <!-- url 복사하기 -->
      <button class="ui button"
        data-tooltip="링크를 복사하세요!" data-position="top center"
        id="clipboard-url-<%= show.id %>"
        data-clipboard-text="<%= @current_url %>">
        <i class="copy icon"></i>
        <small id="msg-copied-<%= show.id %>"></small>
      </button>
    </div>
  </div>
<% end %>
