<style>
.panel-default {
  margin-top: 25px;
}

.comment-style {
 margin: 15px;
}
/* 댓글창 양옆띄우기 */
.ui.comments .comment:first-child {
 margin: 15px;
}
/* tabulr menu cursor*/
.ui.tabular.menu .item:hover {
 cursor: pointer;
}
/* ui tabular menu */
.ui.tabular.menu .active.item {
 border-top-width: initial;
}
.ui.tabular.menu {
  margin: 0 auto;
  display:flex;
  justify-content:center;
  align-items:center;
}
/* 퐐로워 */
.artist-info-th {
  margin-top: -180px;
  margin-left: 356px;
}

/* 왼쪽 정보들 : 아티스트들의 정보 */
.profile.container {
 margin-top: 30px;
}


.artist-profile-info {
  color: #F5F5F5;
  width: 350px;
  margin-left: 100px;
  float:left;
}
/* 정중앙, 아티스트의 글쓰기와 포스트들 */
.post-by {
  max-width: 450px;
  margin-left: 480px;
  margin-top: -238px ;
}
/* 오른쪽 정보들 : 아티스트의 공연 */
.this-artist-shows {
  margin-top: 30px;
}

.ui.cards {
  margin: 0 auto;
}
/* 아티스트의  공연정보들 */
.ui.artists-show.special.cards {
  margin-left: 30px;
}
</style>




        <!-- 아티스트 프로필 헤더 -->
        <div class="ProfileCanopy-header u-bgUserColor">
            <div class="ProfileCanopy-headerBg" style="margin-top:-15px">
            <% if @users.image.url.nil? %>
              <img  src="https://www.beatlesbible.com/wp/media/1400x400-history_01.jpg" height="350px" width="100%" >
            <% else %>
              <img  src="<%= @users.image.url%>" height="350px" width="100%" >
            <% end %>
            </div>
        </div>


        <div class="ui tabular menu">
          <div class="active item" data-tab="post">포스트</div>
          <div class="item" data-tab="following">팔로잉</div>
          <div class="item" data-tab="follower">팔로워</div>
<!--          <div class="item" data-tab="collabo">콜라보</div>  기능개발 후 열기 -->
          <div class="item" data-tab="show">공연들</div>
        </div>








        <div class="active ui tab" data-tab="post"> <!-- post tab이고 default tab -->
            <!-- 아티스트 프로필, 왼쪽에 위치한다-->
            <div class="profile container fluid">  <!-- profile contianer fluid 시작  -->
              <div class="ui left aligned card">
                <div class="content">
                  <div class="header">
                  <i class="users icon"></i>
                    <%= @users.artist_name %>
                  </div>
                </div>
                <div class="content">
                  <div class="ui small feed">
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                          <i class="linkify icon"></i>
                          <%= @users.sns %></br>
                        </div>
                      </div>
                    </div>
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                        <i class="tags icon"></i>
                          <%= @users.genre %></br>
                        </div>
                      </div>
                    </div>
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                         <i class="marker icon"></i>
                         <%= @users.area %>
                        </div>
                      </div>
                    </div>
                    <div class="event">
                      <div class="content">
                        <div class="summary">
                        <i class="comments icon"></i>
                          <%= @users.introduction %></br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="extra content">
                  <% if user_signed_in? && current_user.id != @users.id %>
                    <% if current_user.followings.include?(@users) %>
                      <%= form_tag follow_path(@users.id), method: :delete, class: "right" do %>
                        <button class="btn btn-primary">팔로우 취소</button>
                      <% end %>
                    <% else %>
                      <%= form_tag follows_path, class: "right" do %>
                        <input type="hidden" name="followed_id" value="<%= @users.id %>" />
                        <button class="btn btn-primary">팔로우</button>
                      <% end %>
                    <% end %>
                  <% end %>
                  </span>
                  <% unless current_user.nil? %>
                    <% if current_user.artist_name == @users.artist_name %>
                      <% user = @users.artist_name %>
                      <%= link_to "수정하기", controller: "artists", action:"edit", artist_name: user %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div> <!-- container fluid 끝 -->






          <!-- 정중앙에 트위터처럼 위치해야하는 엘리멘트들 -->
          <div class="post-by">
            <!-- 새 글 작성 폼시작 -->
            <% unless current_user.nil? %>
              <% if @users.artist_name == current_user.artist_name %>
                <div style="margin-bottom:10px">
                  <%= form_tag posts_path do %>
                    <div class="panel panel-default" style="width:450px; height:200px">
                      <div class="panel-body">
                        <textarea class="form-control counted" value="content" name="content" placeholder="무슨 생각을 하고 있어요?" rows="5" style="margin-bottom:10px;"></textarea>
                        <h6 class="pull-right" id="counter">320 characters remaining</h6>
                        <button class="btn btn-info" type="submit">글쓰기</button>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>


              <% @posts.reverse.each do |post| %><!-- 글 보여주기 -->
                <% if @users.id == post.user_id %><!-- 현 아티스트페이지의 아티스트가 쓴 글만 보인다 -->
                  <div class="posts_get thumbnail">

                    <!-- 아티스트가 글쓴 내용 -->
                    <div class="ui comments">
                      <div class="comment">
                        <a class="avatar">
                          <img src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
                        </a>
                        <div class="content">
                          <a class="author"><%=@users.name%></a>
                          <div class="metadata">
                            <%= post.created_at%>
                          </div>
                          <div class="text">
                      <p><%= post.content %></p>
                          </div>
                        </div>
                      </div>
                     </div>
                    <div>
                        <a class="comment-style"id="op-comments-<%= post.id %>">댓글
                        <b><%= post.comments.size %></b></a>
                    </div>
                    <hr>

                    <!-- 현재 유저에게 보이는 댓글창 style="display:none;" -->
                    <input type="hidden" value="<%= post.id %>" name="<%= post.id %>">
                    <div class="ui fluid input">
                    <input class="item" name="content" rows="2" id="content_<%= post.id %>" placeholder="댓글 내용을 입력하세요">
                    </div>
                    <button value="<%= post.id %>" type="submit" class="ui fluid button reply_submit">작성하기</button>

                    <!-- 글쓴 내용에 달린 댓글 출력 -->
                    <% unless post.comments.nil? %>
                      <% post.comments.each do |comment| %>
                        <div class="ui comments">
                          <div class="comment">
                              <a class="avatar">
                                <img src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
                              </a>
                              <div class="content">
                                <a class="author"><%= comment.user.name %></a>
                                <div class="metadata">
                                 <%= comment.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d %H:%M:%S") %>
                                </div>
                                <div class="text">
                                  <p><%= comment.content %></p>
                                </div>
                              </div>
                          </div>
                         </div>
                        <div id="reply_<%= post.id %>"></div>
                      <% end %>
                    <% end %><!-- 끝 : 글쓴 내용에 달린 댓글 출력 -->

                  </div>
               <% end %><!-- 끝 : 현 아티스트페이지의 아티스트가 쓴 글만 보인다 -->
             <% end %><!-- 끝 : 글 보여주기 -->
          </div><!--  Content !-->
        </div>

           <!-- 공간을 띄우기 위한 것 -->
           <div class="ui grid container">
             <div class="four wide column"></div>
             <div class="four wide column"></div>
             <div class="four wide column"></div>
             <div class="four wide column"></div>
             <div class="four wide column"></div>
             <div class="four wide column"></div>
             <div class="four wide column"></div>
             <div class="four wide column"></div>
           </div>


           <!-- 가수의 팔로잉  시작 -->
           <div class="ui tab" data-tab="following">
            <div class="ui grid container ">
             <% follow = Follow.all %>
             <% follow.each do |f| %>
               <% if f.follower_id == @users.id %>
               <% my_star = User.find_by(id: f.followed_id) %>
                    <div class="four wide column">
                      <div class="ui cards">
                        <div class="card">
                          <div class="content">
                            <img class="right floated mini ui image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            <div class="header">
                              <%= my_star.artist_name %>
                            </div>
                            <div class="meta">
                              <%= my_star.genre%>
                            </div>
                            <div class="description">
                              <%= my_star.introduction%>
                            </div>
                          </div>
                          <div class="extra content">
                            <div class="ui two buttons">
                              <div class="ui basic green button">메세지</div>
                              <div class="ui basic red button">차단</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              <% end %>
             <% end %>
           </div>
          </div>
          <!-- 가수의 팔로잉 종료 !-->


         <!-- 팔로워들 정보 보여주기 시작-->
         <div class="ui tab" data-tab="follower">
          <div class="ui grid container ">
           <% follow = Follow.all %>
           <% follow.each do |f| %>
             <% if f.followed_id == @users.id %>
               <% fan = User.find_by(id: f.follower_id) %>
                    <div class="four wide column">
                      <div class="ui cards">
                        <div class="card">
                          <div class="content">
                            <img class="right floated mini ui image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                            <div class="header">
                              <%= fan.name %>
                            </div>
                            <div class="meta">
                              <%= fan.email%>
                            </div>
                            <div class="description">
                              since:<%= fan.created_at%>
                            </div>
                          </div>
                          <div class="extra content">
                            <div class="ui two buttons">
                              <div class="ui basic green button">메세지</div>
                              <div class="ui basic red button">차단</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
               <% end %>
             <% end %>
           </div>
         </div>
         <!-- 팔로워들 정보보여주기 종료 -->


<!-- 추후에 기능 개발
        <div class="ui tab" data-tab="collabo">
          <h1> 커밍순~!!! </h1>
          <!-- 콜라보는 공연정보가 와야한다Tab Content !-->
        </div>

-->


        <div class="ui tab" data-tab="show">

          <div class="ui artists-show special cards">
          <% unless @users.creations.nil?  %>
          <% @users.creations.each do |show| %>
            <div class="card">
              <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                  <div class="content">
                    <div class="center">
                      <%= link_to "더보기", {controller: "shows", action: "show", id: show.id}, class: "ui primary button", target: "_blank" %>
                    </div>
                  </div>
                </div>
                <img class="ui fluid image" src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg" />
              </div>
              <div class="content">
                <a class="header"><%= show.title %></a>
                <div class="meta">
                  <% if show.creator.nil? %>
                  <span class="date">장범준</span>
                  <% else %>
                  <span class="date"><%= show.creator.artist_name %></span>
                  <% end %>
                </div>
                <div class="description">
                  <%= show.location %>
                </div>
              </div>
              <div class="extra content">
                  <i class="heart icon"></i>
                  <%= show.likes.size %>
                  <span class="right floated"><%= show.date %></span>
                </div>
              </div><!-- card -->
            <% end %>
            <% end %>
          </div>


        </div>












<!-- 댓글 시작 -->
<script>
$(function() {
  $(".reply_submit").click(function(){

    post_id = this.value;
    post_content = $("#content_" + post_id).val()

    $.ajax({
      method: "POST",
      url:  "/comments/create",
      data: { content: post_content,
              post_id: post_id },
      success: function(data){
        console.log("리플이 작성되었습니다");
      },
      error: function(){
        console.log("에러에러에러에러에러다");
      }
    });

   });
   // TODO 포스트마다의 댓글 펼치기 기능
});
</script>
<script>
$('.tabular.menu .item').tab();
// 각 공연 당, 카드 이미지 호버
$('.special.cards .image').dimmer({
  on: 'hover'
});
</script>
