<%= render :partial => "/layouts/header_dashboard" %>
<div class="container" style="margin-left: 550px">
        <p><%= flash[:alert] %></p>

        <% @shows.reverse.each do |show| %>
          <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
            <!--      <img src="..." alt="..."> -->
                  <div class="caption">
                  <h3>제목:<%= show.title %></h3> 
                  <p>장소:<%= show.location %></p>
                  <p>시간:<%= show.time %></p>
                  <p>장르:<%= show.genre %></p>
                  <p>플레이리스트:<%= show.playlist %></p>
                  <p>소개글:<%= show.content %></p>
                  <%= show.likes.size %> 명이 좋아합니다.
                  <% if current_user.is_like?(show) %>
                   <a href="/dashboard/<%= show.id %>/like">좋아요 취소</a> 
                  <% else %>
                   <a href="/dashboard/<%= show.id %>/like">좋아요</a> 
                  <% end %>
                  <a href="#">댓글 달기</a>
                    <% if current_user.id != show.user_id %>
                      <a href="/edit/<%= show.id %>">[수정]</a>
                      <a href="/delete_complete/<%= show.id %>">[삭제]</a>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
</div>


