<%= render :partial => "/layouts/header_dashboard" %>
<div class="container" style="margin-left: 550px">
        <p><%= flash[:alert] %></p>

        <% @shows.reverse.each do |show| %>
          <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
            <!--      <img src="..." alt="..."> -->
                  <div class="caption">
                  <h3>제목:<%= show.title %></h3> 
                  <p>장소:<%= show.location %></p>
                  <p>시간:<%= show.time %></p>
                  <p>장르:<%= show.genre %></p>
                  <p>플레이리스트:<%= show.playlist %></p>
                  <p>소개글:<%= show.content %></p>
                  <%= show.likes.size %> 명이 좋아합니다.
                  <% if current_user.is_like?(show) %>
                   <a href="/dashboard/<%= show.id %>/like">좋아요 취소</a> 
                  <% else %>
                   <a href="/dashboard/<%= show.id %>/like">좋아요</a> 
                  <% end %>
  </form>   
                  <% unless show.comments.nil?%>
                      <% show.comments.each do |comment| %> 
                        <p>제목<%= comment.user.name %></p>
                        <p>날짜:<%= comment.created_at %></p>
                        <p>내용<%= comment.content %></p>
                      <% end %>
                  <% end %>
   
                  <%= form_tag comments_path do %>
                      <input type="hidden" name="show_id" value="<%= show.id %>">
                      <p><%= current_user.name %> <input type="text" name="content" placeholder="댓글 내용을 입력하세요."> <input type="submit" value="확인"></p>
                  <% end %>

                    <% if current_user.id == show.user_id %>
                      <a href="/edit/<%= show.id %>">[수정]</a>
                      <a href="/delete_complete/<%= show.id %>">[삭제]</a>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
</div>


