<%= render :partial => "/layouts/headers/header" %>
<%= render :partial => "/layouts/headers/dashboard" %>
<div class="ui two column grid">
  <div class="column 1" id="guerillart-menu">
    <div class="ui guerillart vertical menu">
      <div class="item" id="inbox-show">
          내가 본 공연
        <div class="ui label"><i>커밍쑨</i></div>
      </div>

      <div class="item">
      <%= link_to(menu: "liked_show") do%>
        찜한 공연 &nbsp;&nbsp;
        <div class="ui teal left pointing label"><%= @yourlikes.size %></div>
      <% end %>
      </div>

      <div class="item">
      <%= link_to(menu: "followed_artist") do %>
        아티스트 &nbsp;&nbsp;
        <div class="ui label"><%= current_user.followings.size %></div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="column 2" id="selecting-menu-item-view">
    <% if @menu == "liked_show" %>
        <%= render partial: "layouts/guerillarts/liked_show" %>
    <% elsif @menu == "followed_artist" %>
        <%= render partial: "layouts/guerillarts/followed_artist" %>
    <% else %>
        <%= render partial: "layouts/guerillarts/liked_show" %> <%#디폴트로 찜한 공연 보여주기%>
    <% end %>
  </div>
</div>
