<%= render :partial => "/layouts/header_dashboard" %>

<!-- 나머지 기능 완성되면 백엔드 작업 -->
<div class="container">
  <div class="row">
    <!--<div class="col-md-3">
      <img src="images/profile_default.jpg" alt="..." class="img-circle" width="75px" height="75px">
      <%= current_user.name %>
      <%= current_user.email %>
    </div>-->

    <div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="../images/profile_default.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= current_user.name %>
					</div>
					<div class="profile-usertitle-job">
						<%= current_user.email %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->

				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->

				<!-- END MENU -->
			</div>

      <center><h4 class="guerillart_font1">나의 아티스트</h4></center>

      <div class="profile-sidebar">
        <div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#">어반자카파</a>
						</li>
						<li>
							<a href="#">브라운아이드소울</a>
						</li>
            <li>
							<a href="#">어반자카파</a>
						</li>
            <li>
							<a href="#">브라운아이드소울</a>
						</li>
					</ul>
				</div>
      </div>

      <center><h4 class="guerillart_font1">나의 팬</h4></center>

      <div class="profile-sidebar">
        <div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#">김범수</a>
						</li>
						<li>
							<a href="#">박효신</a>
						</li>
            <li>
							<a href="#">유나얼</a>
						</li>
            <li>
							<a href="#">김범수</a>
						</li>
					</ul>
				</div>
      </div>

		</div>
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <div class="profile-sidebar2">
        <!-- SIDEBAR USERPIC -->
        <div class="container">
          <h4 class="guerillart_font1">알림</h4><br>
          <input type="text" size="85" placeholder="어반자카파님의 새 공연정보가 등록되었습니다." readonly>
          <input type="text" size="85" placeholder="어반자카파님의 새 공연정보가 등록되었습니다." readonly>
          <br><br>

          <h4 class="guerillart_font1">다가오는 공연</h4><br>
          <input type="text" size="85" placeholder="어반자카파님의 새 공연정보가 등록되었습니다." readonly>
          <input type="text" size="85" placeholder="어반자카파님의 새 공연정보가 등록되었습니다." readonly>
          <br><br>

          <h4 class="guerillart_font1">다녀온 공연</h4><br>
          <input type="text" size="85" placeholder="어반자카파님의 새 공연정보가 등록되었습니다." readonly>
          <input type="text" size="85" placeholder="어반자카파님의 새 공연정보가 등록되었습니다." readonly>
          <br><br>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="footer text-center spacer">
  <p class="wowload flipInX">
    <a href="#"><i class="fa fa-facebook fa-2x"></i></a><a href="#"><i class="fa fa-instagram fa-2x"></i></a><a href="#"><i class="fa fa-twitter fa-2x"></i></a><a href="#"><i class="fa fa-flickr fa-2x"></i></a>
  </p>
  Copyright 2016 Guerillart. All rights reserved.
</div>
