<%= render :partial => "/layouts/header_dashboard" %>

    <div class="ProfileCanopy-header u-bgUserColor">
        <div class="ProfileCanopy-headerBg">
          <img alt="" src="https://pbs.twimg.com/profile_banners/74550725/1467017138/1500x500" height="350px" width="100%" >
        </div>
  
      <div class="AppContainer">
        <div class="ProfileCanopy-avatar" style="margin-top: -60px">
          <a class="ProfileAvatar-container u-block js-tooltip profile-picture"   data-resolved-url-large="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg" data-url="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg" target="_blank" data-original-title="Wonder Girls">
        </div>
      </div>
    </div>

    <div class="container">
      <img src="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg" alt="wondergirls" class="img-circle" width="300" height="300">
    </div>


    <div class="container" style="color: #F5F5F5">
         <div class="row" >
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="caption">
                <p><%= @users.artist_name %></p> 
                <p><%= @users.introduction %></p>
                <p><%= @users.sns %></p>
                <p>가입일:<%= @users.created_at %></p>
                    <a href="#">수정</a>
                </div>
              </div>
            </div>
         </div>
    </div>

<!-- 새 글 작성 폼시작 -->
    <div class="container" style="color: #F5F5F5">
         <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="caption">
                <h4>새 글 작성하기</h4>
                </div>
                 <%= form_tag '/dashboard/write_post' do %>
                   <textarea class="form-control" value="content" name="content"rows="3" placeholder="무슨 생각을 하고 있어요?"></textarea> 
                   <input type="submit" class="btn" value="확인">
                 <% end %>
                </div>
            </div>
         </div>
    </div>



                <div class="jumbotron">
                  <div class="container">
                    <% @posts.reverse.each do |post| %>
                      <p><%= post.content %></p>
                       <a href="#">좋아요</a><hr>
                    <% end %>
                  </div>
                </div>


