<%= render :partial => "/layouts/header" %>
<%= render :partial => "/layouts/header_dashboard" %>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
<div class="container">
    <div class="ui vertically divided grid">
        <!-- 유저 프로필 -->
        <div class="ui card">
          <div class="image">
            <% if current_user.avatar.url %>
            <img src="<%= current_user.avatar.url %>">
            <% else %>
            <img src="/images/kristy.png">
            <% end %>
            <div class="input-field">
              <%= file_field_tag :avatar %>
            </div>
    
          </div>
          <div class="content">
            <a class="header"><%=current_user.name%></a>
              <div class="description">
              <%=current_user.email%>
              </div>
          </div>
          <div class="extra content">
            <a>
              <i class="calendar icon"></i>
            Since <%= current_user.created_at%>  
           </a>
          </div>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>


        <div class="ui form">
            <div class="field">
              <label>이름</label>
              <%= f.text_field :name, placeholder: "#{current_user.name}",  autofocus: true %>
            </div>
            <div class="field">
              <label>현재비밀번호</label>
                <%= f.password_field :current_password, autocomplete: "off", required: "true" %>
            </div>
            <div class="field">
              <label>새로운비밀번호</label>
                <%= f.password_field :password, autocomplete: "off" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
            </div>
            <div class="field">
              <label>새비번다시입력</label>
               <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
         <button class="ui submit button" type="submit" name="commit"> 변경
         </button>
        </div>
        </div>
      </div>
      <% end %>  

