<%= render :partial => "/layouts/headers/header"%>
<%= render :partial => "/layouts/headers/sub_artists" %>

<div class="ui artist container">
  <div class="ui special cards" id="artist-cards">
    <div class="ui artist cards">
     <% @user.each do |user| %>
      <% if user.artist_name %>
        <div class="card">
          <% if user.avatar.url %>
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button">팔로잉</div>
                </div>
              </div>
            </div>
            <img src="<%=user.avatar.url%>">
          </div>
          <% else %>
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                  <% if user_signed_in? && current_user.id != user.id %>
                    <% if current_user.followings.include?(user) %>
                      <%= form_tag follow_path(user.id), method: :delete, class: "right" do %>
                        <button class="ui inverted button">팔로우 취소</button>
                      <% end %>
                    <% else %>
                      <%= form_tag follows_path, class: "right" do %>
                        <input type="hidden" name="followed_id" value="<%= user.id %>" />
                        <button class="ui inverted button">팔로우</button>
                      <% end %>
                    <% end %>
                  <% end %>
                  </div>
                </div>
              </div>
              <img class="ui image" src="/images/iu.jpg">
            </div>
          <% end %>
          <div class="content">
            <a class="header" href="/artists/<%=user.artist_name%>">
              <%=user.artist_name%>
            </a>
            <div class="meta">
              <a><%=user.genre%></a>
            </div>
            <div class="description">
             <%=user.introduction%>
            </div>
          </div>
        </div>
      <% end %>
     <% end %>
    </div>
  </div>
<%= will_paginate @user %>
 
</div>
