<%# 메인홈말고 모든 페이지에서 쓰이는 헤더 %>
<header class="ui secondary menu general-header">
  <a class="ui item" href="/">GUERILLART</a>
  <div class="item">
    <div class="ui icon input">
      <%= form_tag("/search/select", method: "post") do %>
        <div class="ui right icon left action input">
          <i class="inverted search icon"></i>

          <div class="ui selection button dropdown" id="go-dropdown">
          	<input type="hidden" name="a_search">
            <div class="text hi-dropdown" data-value="0">선택</div>
            <i class="inverted dropdown icon"></i>
            <div class="ui simple dropdown menu" id="uidropdown">
           		<div class="item" data-value="0" id="artist_search">아티스트</div>
            	<div class="item" data-value="1" id="location_search">위치</div>
          	</div>
          </div>

          <input type="text" placeholder="를 검색해보세요" name="artist_name" />
        </div>
      <% end %>
    </div>
  </div>
  <div class="right menu">
     <a class="ui item" href="/shows">공연</a>
     <a class="ui item" href="/artists">아티스트</a>

     <%if user_signed_in?%>
       <div class="ui right dropdown item">
          <div class="ui simple dropdown">
              <div class="text"> <%= current_user.name%>님 </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="ui item" href="/dashboard/home">대쉬보드</a>
              <a class="ui item" href="/dashboard/guerillart">나의게릴라트</a>
              <a class="ui item" href="/dashboard/profile">계정관리</a>

              <% if current_user.artist_name? %>
              <% artist_name = current_user.artist_name %>
              <a class="ui item" href="/shows/new">공연등록</a>

              <a class="ui item" href="/artists/<%=artist_name%>"><%=artist_name%>페이지<input type="hidden" name="artist_name" value="artist_name"></a>
              <% end %>
              <a class="ui item" href="/logout" data-method="delete">로그아웃</a>
            </div>
          </div>
       </div>
     <% else%>

     <a class="ui item" id="start_signup_modal">회원가입</a>
     <a class="ui item" id="start_signin_modal">로그인</a>
     <% end %>
  </div>
</header>


<%# 로그인, 회원가입, 비번찾기 모달 %>
<%= render :partial => "/devise/sessions/new" %>
<%= render :partial => "/devise/registrations/new" %>
<%= render :partial => "/devise/passwords/new" %>
