<div class="ui subshow menu">
  <div class="ui subshow container">

    <div class="ui button sub genre dropdown genre">
      <% if @current_genre.nil? %>
      <div class="text">장르별</div>
      <% else %>
      <div class="text"><%= @current_genre %></div>
      <% end %>
      <i class="dropdown icon"></i>
      <div class="ui simple dropdown menu">
        <div class="ui item"><%= link_to "모아보기", choose: "모아보기" %></div>
        <% @names.each do |name| %>
          <div class="ui item show-genre-item">
            <%= link_to "#{name}", choose: "#{name}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="ui button sub show dropdown show">
      <% if @select_show.nil? %>
      <div class="text">공연</div>
      <% else %>
      <div class="text"><%= @select_show %></div>
      <% end %>
      <i class="dropdown icon"></i>
      <div class="ui simple dropdown menu">
        <div class="ui item">
          <%= link_to "실시간 공연", controller: "shows", action: "index", select_show: "실시간 공연" %>
        </div>
        <div class="ui item">
          <%= link_to "다가오는 공연", controller: "shows", action: "index", select_show: "다가오는 공연" %>
        </div>
      </div>
    </div>

  </div>
</div>
