<%= render :partial => "/layouts/header.html.erb"%>
<%= render :partial => "/layouts/sub_header_artists" %>


       <% user = User.all %>
         <% user.each do |user| %>
          <div class="container">
            <div class="ui card" height="512" width"512">
              <div class="image">
                <% if user.avatar.url %>
                <img src="<%= user.avatar.url %>">
                <% else %>
                <img src="/images/iu.jpg" >
                <% end %>
        
              </div>
              <div class="content">
              <a class="header" href="/artists/name/<%=user.artist_name%>"><%=user.artist_name%><input type="hidden" name="artist_name" value="artist_name"></a>
                  <div class="description">
                  <%=user.email%>
                  </div>
              </div>
            </div><br>
          </div>   
         <% end %>


