<!-- Clipboard.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<%
  @current_url = "http://localhost:3000/shows/view/#{ @show.id }"
%>
<!--
  TODO  나중에 각 파일별로 css 파일 정리
-->
<style>
.wrap-show {
  /* 모달의 전체 속성을 좌우 */
  max-width: 900px;
  margin-top: 90px;
}
.photo {
 float : left;
 margin-right: 20px;
}
.show-share {
 width: 100%;
 margin-top: 10px;
}
.show-info-section {
 clear : both;
 margin-top: -20px;
}
/* 공유하기 */
</style>

<div class="container-fluid wrap-show">
  <!-- 타이틀 섹션 : 아티스트 사진, 이름, 글 타이틀  -->
<div class="modal-header" style="margin-top:-80px">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="title-section" class="full">
    <div class="slat-header user">
      <a class="url hoverable" rel="contact" href="#">
        <img alt="null" class="photo" src="https://d13yacurqjgara.cloudfront.net/users/35381/avatars/normal/meg4.png?1401981546" data-pin-nopin="true">
      </a>
      <h1><%= @show.title %></h1>
      <h2 class="shot-byline">
        <span class="attribution">
          <span class="shot-byline-user">
          <%
          # 공연을 등록한 아티스트를 찾는다.
          this_artist = User.find_by(id: @show.user_id)
          if !this_artist.nil?
          %>
          by <a class="url hoverable" rel="contact" href="#"><%= this_artist.artist_name %></a>
          <% else %>
          <% end %>
          </span>
        </span>
        by <a class="url hoverable" rel="contact" href="#">장범준</a>
        <span class="shot-byline-date">
        on <a href="#"><%= @show.time %></a>
        </span>
      </h2>
    </div>
  </div>

  <div class="show-info-section" class="full">
    <a class="url hoverable" rel="contact" href="#">
      <img alt="null" class="photo" src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg" width="500" data-pin-nopin="true">
    </a>
    <h4>공연정보</h4>
    <div>
      장소 : <%= @show.location %><br>
      시각 : <%= @show.time %>, <%= @show.date %><br>
      장르 : <%= @show.genre %><br>
      <br>플레이리스트 :<br>
      <%= @show.playlist %>
      <br>
    </div>
  </div>

  <div class="btn-group show-share">
    <!-- 좋아요=꼭 보러갈래요 -->
    <% unless current_user.nil? %>
      <% if current_user.is_like?(@show) %>
       <a href="/shows/<%= @show.id %>/like" class="btn btn-default">
         <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"><br></span>
         <%= @show.likes.size %>
       </a>
      <% else %>
       <a href="/shows/<%= @show.id %>/like" class="btn btn-default">
         <span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"><br></span>
         <%= @show.likes.size %>
       </a>
      <% end %>
    <% end %>

    <!-- 댓글쓰기 버튼 : TODO 공연이 끝난 후 작성할 수 있다. -->
    <button type="button" class="btn btn-default" id="openComments-<%= @show.id %>">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"><br></span>
      <%= @show.comments.size %>
    </button>

    <!-- TODO 조회수 : 사용자와 관계없이 모달을 클릭하면 올라간다 -->
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"><br></span>
      <%= @show.view_count %>
    </button>

    <!--트위터 -->
    <a
       id="popup-<%= @show.id %>"
       target="_blank"
       class="btn btn-default twitter-share-button"
       href="https://twitter.com/intent/tweet?text=실시간 공연, %23게릴라트 <%= @show.title %>&url=<%= @current_url %>"
       data-size="large">
       <i class="fa fa-twitter"></i>
    </a>

    <!-- 페이스북
      정식으로 서버를 등록이 되야 쓰일 수 있습니다
      @current_url 에 네이버랑 구글만 넣어도 공유하기가 되요
    -->
    <a
      target="_blank"
      class="btn btn-default"
      href="https://www.facebook.com/sharer/sharer.php?u=<%= @current_url %>">
      <i class="fa fa-facebook"></i>
    </a>

    <!-- url 복사하기 -->
    <button class="btn btn-default" id="clipboard-url-<%= @show.id %>" data-toggle="tooltip" title="Copy!" data-clipboard-text="<%= @current_url %>">
      <span class="glyphicon glyphicon-link" aria-hidden="true">
        <small id="msg-copied-<%= @show.id %>"></small>
      </span>
    </button>
  </div>

  <!-- 댓글 펼치기 : 히든으로 되어있다가 댓글버튼을 클릭할 떄 나타난다 -->
  <div id="open-comments-list-<%= @show.id %>" style="display:none;">
    <%= render partial: "layouts/show_modal_comments", object: @show %>
  </div>

  <br>
  <br>
</div>
