<%#이 파일은 각 공연의 단독 뷰를 보여주는 파일입니다%>
<style>
.ui.container > .title-section {
  text-align: center;
  font-weight: normal;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<% @current_url = "http://localhost:3000/shows/view/#{ @show.id }" %>
<div class="ui container" style="margin-top:40px">
  <div class="title-section">
    <a href="#"><!-- 공연작성자의 마이페이지로 이동 -->
      <img class="ui small circular image" width="150px" height="150px" src="https://i1.sndcdn.com/avatars-000138106130-hidund-t500x500.jpg">
    </a>
    <h1><%= @show.title %></h1>
    <h2>
      <% if !@show.creator.nil? %>
        by <a class="url hoverable" rel="contact" href="#"><%= @show.creator.artist_name %></a>
      <% else %>
        by <a class="url hoverable" rel="contact" href="#">장범준</a>
      <% end %>
      <span>
      on <%= @show.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d") %>
      </span>
    </h2>
  </div>



      <a class="url hoverable" rel="contact" href="#">
        <img alt="null" class="photo" src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg" width="500" data-pin-nopin="true">
      </a>

      <div class="btn-group">
        <!-- 좋아요 = 꼭 보러갈래요, 로그인 한사람만 가능한 기능 -->
        <% unless current_user.nil? %>
          <% if current_user.is_like?(@show) %>
           <a href="/shows/<%= @show.id %>/like" class="btn btn-default">
             <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"><br></span>
             <%= @show.likes.size %>
           </a>
          <% else %>
           <a href="/shows/<%= @show.id %>/like" class="btn btn-default">
             <span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"><br></span>
             <%= @show.likes.size %>
           </a>
          <% end %>
        <% end %>
        <!--트위터 -->
        <a
           id="popup-<%= @show.id %>"
           target="_blank"
           class="btn btn-default twitter-share-button"
           href="https://twitter.com/intent/tweet?text=실시간 공연, %23게릴라트 <%= @show.title %>&url=<%= @current_url %>"
           data-size="large">
           <i class="twitter icon"></i>
        </a>
        <!-- 페이스북 -->
        <a
          target="_blank"
          class="btn btn-default"
          href="https://www.facebook.com/sharer/sharer.php?u=<%= @current_url %>">
          <i class="facebook f icon"></i>
        </a>
        <!-- url 복사하기 -->
        <button class="btn btn-default"
          data-tooltip="링크를 복사하세요!" data-position="top left"
          id="clipboard-url-<%= @show.id %>" data-toggle="tooltip" title="Copy!"
          data-clipboard-text="<%= @current_url %>">
          <i class="copy icon"></i>
          <small id="msg-copied-<%= @show.id %>"></small>
        </button>
      </div>


      <h4>공연정보</h4>

        <i class="map outline icon"></i> <%= @show.location %><br>
        <i class="checked calendar icon"></i> <%= @show.time %>, <%= @show.date %><br>
        <i class="info icon"></i> <%= @show.genre %><br>


        <h4>플레이리스트</h4>
        <%= @show.playlist %>
        <br>
      </div>
    </div>


      <div class="ui statistic">
        <div class="value">
          <% if @show.view_count.nil?%>
            211
          <% else %>
            <%= @show.view_count %>
          <% end %>
        </div>
        <div class="label">
          Views
        </div>
      </div>


  </div>


<!-- Clipboard.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script>

  // 트위터의 팝업
  document.getElementById("popup-<%= @show.id %>").onclick = function() {
    return !window.open(this.href, "pop", "width=600, height=300");
  }
  // 클립보드 복사 기능
  var clipboard = new Clipboard('.btn');

  document.getElementById("clipboard-url-<%= @show.id %>").onclick = function() {
    document.getElementById("msg-copied-<%= @show.id %>").innerHTML = "<i>Copied!</i>";
  }
</script>
