
<!--
  TODO  나중에 각 파일별로 css 파일 정리
-->
<style>
.wrap-show {
  /* 모달의 전체 속성을 좌우 */
  max-width: 900px;
  margin-top: 90px;
}
.photo {
 float : left;
 margin-right: 20px;
}
.show-share {
 width: 100%;
 margin-top: 10px;
}
#show-info-section {
 clear : both;
 margin-top: -20px;
}
/* 공유하기 */

</style>

<div class="container wrap-show">
  <!-- 타이틀 섹션 : 아티스트 사진, 이름, 글 타이틀  -->
<div class="modal-header" style="margin-top:-80px">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div id="title-section" class="full">
    <div class="slat-header user">
      <a class="url hoverable" rel="contact" href="#">
        <img alt="null" class="photo" src="https://d13yacurqjgara.cloudfront.net/users/35381/avatars/normal/meg4.png?1401981546" data-pin-nopin="true">
      </a>
      <h1><%= @show.title %></h1>
      <h2 class="shot-byline">
        <span class="attribution">
          <span class="shot-byline-user">
          <%
          # 공연을 등록한 아티스트를 찾는다.
          this_artist = User.find_by(id: @show.user_id)
          if !this_artist.nil?
          %>
          by <a class="url hoverable" rel="contact" href="#"><%= this_artist.artist_name %></a>
          <% else %>
          by <a class="url hoverable" rel="contact" href="#">장범준</a>
          <% end %>
          </span>
        </span>
        <span class="shot-byline-date">
        on <a href="#"><%= @show.time %></a>
        </span>
      </h2>
    </div>
  </div>

  <div id="show-info-section" class="full">
    <a class="url hoverable" rel="contact" href="#">
      <img alt="null" class="photo" src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg" width="500" data-pin-nopin="true">
    </a>
    <h4>공연정보</h4>
    <div>
      장소 : <%= @show.location %><br>
      시각 : <%= @show.time %>, <%= @show.date %><br>
      장르 : <%= @show.genre %><br>
      <br>플레이리스트 :<br>
      <%= @show.playlist %>
      <br>
    </div>
  </div>

  <div class="btn-group show-share">

      <% unless current_user.nil? %>
        <% if current_user.is_like?(@show) %>
         <a href="/shows/<%= @show.id %>/like">
           <button type="button" class="btn btn-default">
             <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"><br></span>
             <%= @show.likes.size %>
           </button>
         </a>
        <% else %>
         <a href="/shows/<%= @show.id %>/like">
           <button type="button" class="btn btn-default">
             <span class="glyphicon glyphicon glyphicon-heart-empty" aria-hidden="true"><br></span>
             <%= @show.likes.size %>
           </button>
         </a>
        <% end %>
      <% end %>


    <!-- 댓글쓰기 버튼 : TODO 공연이 끝난 후 작성할 수 있다. -->
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"><br></span>
      <%= @show.comments.size %>
    </button>
    <!-- TODO 조회수 : 사용자와 관계없이 모달을 클릭하면 올라간다 -->
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"><br></span>
      <%= @show.view_count %>
    </button>
    <!-- 공유하기 -->
    <div id="socialHolder" class="col-md-3">
  		<div id="socialShare" class="btn-group share-group">
      <a data-toggle="dropdown" class="btn btn-info">
           <i class="fa fa-share-alt fa-inverse"></i>
      </a>
  		<ul class="dropdown-menu" style="max-width:124px">
  			<li>
          <a target="_blank" id="popup" class="twitter-share-button" href="https://twitter.com/intent/tweet?text=실시간 공연, %23게릴라트 <%= @show.title %>&url=http://localhost:3000/shows/view/<%= @show.id %>" data-size="large">
    			     <button data-original-title="Twitter" rel="tooltip"  href="#" class="btn btn-twitter" data-placement="left">
              <i class="fa fa-twitter"></i>
            </button>
    			</a>
  			</li>
  			<li>
  				<a data-original-title="Facebook" rel="tooltip"  href="#" class="btn btn-facebook" data-placement="left">
            <!-- Your share button code -->
            	<div class="fb-share-button"
            		data-href="http://localhost:3000/shows/view/<%= @show.id %>"
            		data-layout="button_count">
            	</div>
            <i class="fa fa-facebook"></i>
  			  </a>
  			</li>
  			<li>
  				<a data-original-title="Google+" rel="tooltip"  href="#" class="btn btn-google" data-placement="left">
  				  <i class="fa fa-google-plus"></i>
  			  </a>
  			</li>
  			<li>
  				<a data-original-title="Pinterest" rel="tooltip"  class="btn btn-pinterest" data-placement="left">
  				  <i class="fa fa-pinterest"></i>
  			  </a>
  			</li>
      </ul>
  	 </div>
    </div>
    <!-- 댓글 펼치기 : TODO 버튼을 눌렀을 때에만 나와야한다 -->
    <%= render partial: "layouts/show_modal_comments", object: @show %>
  </div>

</div>


<div id="fb-root"></div>
<script>
window.onload = function() {
  document.getElementById("popup").onclick =  function() {
    return !window.open(this.href, "pop", "width=600, height=300");
  }
}

// Load Facebook SDK for JavaScript
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
