<%= render :partial => "/layouts/headers/header" %>
<%= render :partial => "/layouts/headers/dashboard" %>
<p><%= flash[:alert] %></p>

<!-- 보안문제로 form helper를 사용해서 아래를 수정한뒤, ApplicationController의 protect_from_forgery 주석을 해제해야 한다.-->
<div class="form-group add-show">
  <div class="ui attached message">
    <div class="header">당신의 게릴라트</div>
    <p>아래의 양식을 수정합니다</p>
  </div>

  <div class="ui writeshow form attached fluid segment">
  <%= form_for(@one_show) do |s| %>
    <div class="required field">
      <%= s.label :제목 %>
      <%= s.text_field :title %>
    </div>

    <div class="required field">
      <%= s.label :시작시간 %>
      <div class="ui calendar" id="date-time">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <%= s.text_field :start %>
        </div>
      </div>
    </div>

    <div class="required field">
      <%= s.label :playlist %>
      <%= s.text_field :playlist %>
    </div>
    <div class="required field">
      <%= s.label :내용 %>
      <%= s.text_area :content %>
    </div>

    <div class="inline fields" id="radio-button">
      <%= s.label :장르 %>
      <% @names.reverse.each do |n| %>
      <div class="field">
        <div class="ui radio checkbox">
          <% if n == @one_show.genre %>
          <input type="radio" name="genre" checkbox="/" value="<%= n %>" checked="checked">
          <label><%= n %></label>
          <% else %>
          <input type="radio" name="genre" checkbox="/" value="<%= n %>">
          <label><%= n %></label>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="required field">
      <%= s.label :장소 %>
      <%= s.text_field :location %>
    </div>

    <div class="required field">
      <div class="ui checkbox" >
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <%= s.submit :등록하기, class: "ui fluid blue submit button", id: "go-Guerillart" %>
  <% end %>
  </div>
</div>
