<div class="show-body">
  <%= render partial: "/layouts/headers/header" %>
  <%= render partial: "/layouts/headers/sub_shows" %>
  <%= render partial: "/layouts/show/genre", object: @current_genre %>
  <%= render partial: "/layouts/show/modal" %>
</div>

<%# 공연크기를 id="show_cnt"값에 담는다, show.coffee에서 사용%>
<%= hidden_field_tag "show_cnt", "#{@shows.size}"  %>
