<%= render :partial => "/layouts/headers/header" %>
<%= render :partial => "/layouts/headers/dashboard" %>
<p><%= flash[:alert] %></p>
<div class="form-group add-show">
  <div class="ui attached message">
    <div class="header">게릴라트하기!</div>
    <p>아래의 양식을 작성하여 공연을 알리세요!</p>
  </div>

  <div class="ui writeshow form attached fluid segment">
  <%= form_tag('/shows') do %>
    <div class="required field">
      <label>공연 타이틀</label>
      <input type="text" name="show_title"class="form-control" id="1inputName" placeholder="멋진 공연 주제를 입력해주세요" required>
    </div>

    <div class="required field">
      <label>날짜/시간</label>
      <div class="ui calendar" id="date-time">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
      <input type="text" name="time" placeholder="공연 날짜와 시간을 선택주세요" required>
      </div>
      </div>
    </div>

    <div class="required field">
      <label>Play List</label>
      <input type="text" name="playlist"class="form-control" id="6inputName" placeholder="멋진 공연 주제를 입력해주세요" required>
    </div>
    <div class="required field">
      <label>공연 소개</label>
      <textarea class="form-control" name="show_content"rows="5" id="comment" placeholder="공연은 어떤 식으로 진행되나요?"></textarea>
    </div>

    <div class="inline fields" id="radio-button">
      <label>장르</label>
      <% @names.reverse.each do |n| %>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="genre" checkbox="/" value="<%= n %>">
          <label><%= n %></label>
        </div>
      </div>
      <% end %>
    </div>
    <div class="required field">
      <label>장소</label>
      <input type="text" class="form-control" name="location" placeholder="공연장소를 선택주세요" required>
    </div>

    <div class="required field">
      <div class="ui checkbox" >
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>

    <input type="submit" class="ui fluid blue submit button" id="go-Guerillart" value="등록하기">
  <% end %>
  </div>
</div>
