<%= render partial: "/layouts/header" %>
<!-- 이 파일은 각 공연의 단독 뷰를 보여주는 파일입니다 -->
<style>
.ui.view.container {
  background: white;
}
.view-body {
  margin-top: -15px;
  background: #f2f2f2;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ui.header, p.header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1px;
}
.ui.small.image {
  margin-top: 15px;
}
.ui.header {
  margin-bottom: 10px;
}
.ui.fluid.basic.buttons.func-show {
  margin-top: 15px;
  margin-bottom: 15px;
}
h4:first-child {
  margin-top: 10px;
}
</style>
<% @current_url = "http://localhost:3000/#{ @show.id }" %>
<div class="view-body">
<div class="ui view container">
  <div class="ui header">
    <a target="_blank" href="/artists/name/박효신"><!-- 공연작성자의 마이페이지로 이동 -->
      <img class="ui small circular image" src="https://i1.sndcdn.com/avatars-000138106130-hidund-t500x500.jpg">
    </a>
    <p class="header"><%= @show.title %></p>
    <% if @show.creator.nil?%>
    <span>by  <a target="_blank" href="/artists/name/박효신">장범준</a></span>
    <% else %>
    <span>by  <a target="_blank" href="/artists/name/<%= @show.creator.artist_name %>"><%= @show.creator.artist_name %></a></span>
    <% end %>
    <small><%= @show.updated_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일") %></small>
  </div>
  <img class="ui fluid image" src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg">


  <div class="ui content">
    <h4>공연정보</h4>
    <i class="marker icon"></i> <%= @show.location %><br>
    <i class="checked calendar icon"></i> <%= @show.time %>, <%= @show.date %><br>
    <i class="info icon"></i> <%= @show.genre %><br>

    <h4>플레이리스트</h4>
    <%= @show.playlist %>
    <br>

          <div class="ui fluid basic buttons func-show">
            <!-- 좋아요 = 꼭 보러갈래요, 로그인 한사람만 가능한 기능 -->
            <% unless current_user.nil? %>
              <% if current_user.is_like?(@show) %>
               <a href="/shows/<%= @show.id %>/like" class="ui button">
                 <i class="heart icon"></i>
                 <%= @show.likes.size %>
               </a>
              <% else %>
               <a href="/shows/<%= @show.id %>/like" class="ui button">
                 <i class="empty heart icon"></i>
                 <%= @show.likes.size %>
               </a>
              <% end %>
            <% end %>
            <!--트위터 -->
            <a
               id="popup-<%= @show.id %>"
               target="_blank"
               class="ui  button twitter-share-button"
               href="https://twitter.com/intent/tweet?text=실시간 공연, %23게릴라트 <%= @show.title %>&url=<%= @current_url %>"
               data-size="large">
               <i class="twitter icon"></i>
            </a>
            <!-- 페이스북 -->
            <a
              target="_blank"
              class="ui button"
              href="https://www.facebook.com/sharer/sharer.php?u=<%= @current_url %>">
              <i class="facebook f icon"></i>
            </a>
            <!-- url 복사하기 -->
            <button class="ui button"
              data-tooltip="링크를 복사하세요!" data-position="top center"
              id="clipboard-url-<%= @show.id %>" data-toggle="tooltip" title="Copy!"
              data-clipboard-text="<%= @current_url %>">
              <i class="copy icon"></i>
              <small id="msg-copied-<%= @show.id %>"></small>
            </button>
          </div>
    </div>
</div>
</div>

<!-- Clipboard.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
<script>
	// $(document).ready(function() {
	  // if(window.location.href.indexOf('<%=@show.id %>') != -1) {
	  	// console.log("hihi");
	    // $('.ui.view.small.modal.<%=@show.id %>').modal('show');
	  // }
	// });
	
	// 트위터의 팝업
	document.getElementById("popup-<%= @show.id %>").onclick = function() {
	return !window.open(this.href, "pop", "width=600, height=300");
	}
	// 클립보드 복사 기능
	var clipboard = new Clipboard('.btn');

	document.getElementById("clipboard-url-<%= @show.id %>").onclick = function() {
		document.getElementById("msg-copied-<%= @show.id %>").innerHTML = "<i>Copied!</i>";
	}
</script>
