<style>
/* 모달 조정 */
.modal {
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
/* 로그인 */
#signin-modal {
  max-width: 450px;
}
/* 회원가입 */
#signup-modal {
  margin-top: -100px;
}
/* 모달의 폼 */
.ui.form .field>label {
  color: white;
  font-weight: bold;
}
.ui.basic.modal>.header {
  font-size: 3em;
}
input.g-form {
	font-weight: bold;
	font-size: 1em;
}
.go-sign {
  margin-top: 20px;
  margin-bottom: 20px;
}
a.ui.item {
  color : white;
  font-weight : bold;
}
/* 로그인의 x 버튼 */
.ui.basic.modal>.close {
  padding-left:39px;
}
/* 회원가입의 x 버튼 */
#signup-close {
  padding-right: 472px !important;
}
/* 네비바 글자들 */
.ui.secondary.menu a.item, .ui.simple.dropdown {
  color : rgba(230, 230, 230, 0.6);;
  font-weight: bold;
}
/* 네비바 조정 */
.ui.secondary.menu {
  margin-top: 0px;
  box-shadow: 3px 3px 100px;
}
</style>

<!-- Start of Signin modal -->
<div class="ui basic modal signin" id="signin-modal">
  <i class="close icon"></i>
  <div class="header">로그인</div>
  <%= form_for(resource, :as => resource_name, :html => {:id => 'login_form'}, :url => user_session_path, :remote => :true, :format => :json) do |f| %>
  <div class="ui form">
    <div class="field">
      <label>Email</label>
      <div class="ui left icon input">
      	<%= f.email_field :email, :autofocus => true, :placeholder => "이메일을 입력해주세요.", :id => 'login_email' %>
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left icon input">
      	<%= f.password_field :password, :placeholder => "비밀번호를 입력해주세요.", :id => 'login_password' %>
        <i class="lock icon"></i>
      </div>
    </div>
  </div>
    <div class="option_buttons">
		<div class="not_registered">
	    	<%= link_to '게릴라트 계정이 없나요?', '#', :class => 'not_registered', :id => 'not_registered', :view => 'signup' %>
	    </div>
		<div class="clear"></div>
	</div>
    
  <div class="go-sign">
	    <!-- <% if devise_mapping.rememberable? -%>
	    	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  	<% end -%> -->
	    <%= f.submit "로그인", type: "submit", name: "commit", class: "fluid ui inverted green button" %>
  </div>
  
  <div class="footer" id="login_modal_footer"></div>
  <% end %>
</div>




<!-- Start of Signup modal -->
<div class="ui basic modal signup" id="signup-modal">
  <i class="close icon" id="signup-close"></i>
  <div class="header">회원가입</div>
  	<%= form_for(resource, :as => resource_name, :html => {:id => 'register_form'}, :url => user_registration_path, :remote => :true, :format => :json) do |f| %>
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column">
          <div class="ui form">
          	<div class="field">
              <label>Name</label>
              <%= f.text_field :name, :placeholder => "이름을 입력해주세요." , :id => 'signup_name' %>
            </div>
            <div class="field">
              <label>E-mail</label>
                <div class="ui left icon input">
            	<%= f.email_field :email, :placeholder => "이메일을 입력해주세요." , :id => 'signup_email'%>
            	<div class="error"><%= resource.errors[:email].first if resource.errors[:email].present? %></div>
                <i class="user icon"></i>
                </div>
            </div>
            <div class="field">
              <label>Password</label>
                <div class="ui left icon input">
                <%= f.password_field :password, :placeholder => "비밀번호를 입력해주세요.", :title => "6+ characters" , :id => 'signup_password'%>
    			<div class="error"><%= resource.errors[:password].first if resource.errors[:password].present? %></div>
                  <i class="lock icon"></i>
                </div>
            </div>
            <div class="field">
              <label>Password again</label>
                <div class="ui left icon input">
            		<%= f.password_field :password_confirmation, :placeholder => "confirm password" , :id => 'signup_confirm_password'%>
   					 <div class="error"><%= resource.errors[:password_confirmation].first if resource.errors[:password_confirmation].present? %></div>
                	<i class="lock icon"></i>
                </div>
            </div>
          </div>
          
          <div class="option_buttons">
		    <div class="already_registered">
		    	<%= link_to '이미 게릴라트 계정이 있나요?', '#', :class => 'already_registered', :id => 'already_registered', :view => 'login' %>
		    </div>
		  	<div class="clear"></div>
		  </div>	
          
          <div class="go-sign">
            <%= f.submit "가입하기", type: "submit", name: "commit", class: "fluid ui inverted blue button go-sign" %>
          </div>
      </div>
     </div>
     <div class="footer" id="signup_modal_footer"></div>
  <% end %>
</div>






<div class="ui secondary menu "> <!--Navbar start-->
  <a class="ui item" href="/">GUERILLART</a>

  <div class="right menu"> <!-- 오른쪽 Navbar -->
     <a class="ui item" href="/shows">공연</a>
     <a class="ui item" href="/artists">아티스트</a>

     <%if user_signed_in?%>
       <div class="ui right dropdown item">
          <div class="ui simple dropdown">
              <div class="text"> <%= current_user.name%>님 </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="ui item" href="/dashboard/home">대쉬보드</a>
              <a class="ui item" href="/dashboard/guerillart">나의게릴라트</a>
              <a class="ui item" href="/dashboard/profile">계정관리</a>

              <% if current_user.artist_name? %>
              <% artist_name = current_user.artist_name %>
              <a class="ui item" href="/dashboard/write">공연등록</a>
              <a class="ui item" href="/artists/name/<%=artist_name%>"><%=artist_name%>페이지<input type="hidden" name="artist_name" value="artist_name"></a>
              <% end %>
              <a class="ui item" href="/logout" data-method="delete">로그아웃</a>
            </div>
          </div>
       </div>
     <% else%>

     <a class="ui item" id="start_signup_modal">회원가입</a>
     <a class="ui item" id="start_signin_modal">로그인</a>
     <% end %>
  </div> <!-- 오른쪽 Navbar 끝 -->
</div>  <!-- Navbar 끝 -->






<script>
// 모달 셋팅
$('.ui.basic.modal')
.modal('attach events', 'show') // 버튼 뻄. 넣는다면 한페이지의 모든 버튼 이벤트 대신 이 모달이 열림
.modal('setting', {
    detachable: false,
    allowMultiple: false,
    observeChanges: false,
    blurring: true,
    transition: 'vertical flip'
});


//로그인 모달 닫았을 시 모달 초기화
$('.ui.basic.modal.signin').modal({
    onHide: function(){
		$('.footer#login_modal_footer').html("");
		$('#login_password').val('');
    }
});


//회원가입 모달 닫았을 시 모달 초기화
$('.ui.basic.modal.signup').modal({
    onHide: function(){
		$('.footer#signup_modal_footer').html("");
		$('#signup_password').val('');
		$('#signup_confirm_password').val('');
    }
});



// 모달 버튼
document.getElementById('start_signin_modal').onclick = function() {
  $('.ui.basic.modal.signin').modal('show');
}
document.getElementById('start_signup_modal').onclick = function() {
  $('.ui.basic.modal.signup').modal('show');
}
</script>
