<style>
/* 모달 조정 */
.modal {
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
/* 로그인 */
#signin-modal {
  max-width: 450px;
}
/* 회원가입 */
#signup-modal {
  margin-top: -100px;
}
/* 모달의 폼 */
.ui.form .field>label {
  color: white;
  font-weight: bold;
}
.ui.basic.modal>.header {
  font-size: 3em;
}
input.g-form {
	font- weight: bold;
	font-size: 1em;
}
.go-sign {
  margin-top: 20px;
  margin-bottom: 20px;
}
a.ui.item {
  color : white;
  font-weight : bold;
}
/* 로그인의 x 버튼 */
.ui.basic.modal>.close {
  padding-left:39px;
}
/* 네비바 글자들 */
.ui.secondary.menu a.item, .ui.simple.dropdown {
  color : black;
}
/* 네비바 조정 */
.ui.secondary.menu {
  margin-top: 0px;
  /*box-shadow: 3px 1px 5px;*/
  background: black;
}
/* 네비바 글자들 */
.ui.secondary.menu a.item, .ui.simple.dropdown, .ui.dropdown>.text {
  color : white;
  font-weight: bold;
}
/* 서치바 */
.ui.input input {
  color : white;
	font-weight: bold;
	text-align: left;

	border : none;
  background: transparent;
  outline: 0;
}
.ui.menu .item>.input input {
  background: black;
  color:white;
}
.ui[class*="left action"].input>.button,
.ui[class*="left action"].input>.buttons>.button,
.ui[class*="left action"].input>.dropdown {
  background: transparent;
}
</style>

<!-- Start of Signin modal -->
<div class="ui basic modal signin" id="signin-modal">
  <i class="close icon"></i>
  <div class="header">로</div>
  <%= form_for(resource, :as => resource_name, :html => {:id => 'login_form'}, :url => user_session_path, :remote => :true, :format => :json) do |f| %>
  <div class="ui form">
    <div class="field">
      <label>Email</label>
      <div class="ui left icon input">
      	<%= f.email_field :email, :autofocus => true, :placeholder => "이메일을 입력해주세요.", :id => 'login_email' %>
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left icon input">
      	<%= f.password_field :password, :placeholder => "비밀번호를 입력해주세요.", :id => 'login_password' %>
        <i class="lock icon"></i>
      </div>
    </div>
    <% if devise_mapping.rememberable? -%>
    	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  	<% end -%>
    <%= f.submit "로그인", type: "submit", name: "commit", class: "fluid ui inverted green button" %>
  </div>
  <% end %>
</div>




<!-- Start of Signin modal -->
<div class="ui basic modal signin" id="signin-modal">
  <i class="close icon"></i>
  <div class="header">로그인</div>
  <%= form_for(resource, :as => resource_name, :html => {:id => 'login_form'}, :url => user_session_path, :remote => :true, :format => :json) do |f| %>
  <div class="ui form">
    <div class="field">
      <label>Email</label>
      <div class="ui left icon input">
      	<%= f.email_field :email, :autofocus => true, :placeholder => "이메일을 입력해주세요.", :id => 'login_email' %>
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left icon input">
      	<%= f.password_field :password, :placeholder => "비밀번호를 입력해주세요.", :id => 'login_password' %>
        <i class="lock icon"></i>
      </div>
    </div>
    <div class="field">
	    <% if devise_mapping.rememberable? -%>
	    	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  	<% end -%>
	    <%= f.submit "로그인", type: "submit", name: "commit", class: "fluid ui inverted green button" %>
    </div>
  </div>
  <div class="footer">
  	<div class="ui error message">
	    <div class="header">Action Forbidden</div>
	    <p>You can only sign up for an account once with a given e-mail address.</p>
  	</div>
  </div>
  <% end %>
</div>







<div class="ui secondary menu "> <!--Navbar start-->
  <a class="ui item" href="/">GUERILLART</a>
  <div class="item">
    <div class="ui icon input">
      <%= form_tag("/artist/search", method: "get") do %>
        <div class="ui right icon left action input">
          <i class="inverted search icon"></i>
          <div class="ui button dropdown" id="go-dropdown">
            <div class="text hi-dropdown">아티스트</div>
            <i class="inverted dropdown icon"></i>
            <div class="ui simple dropdown menu" id="uidropdown">
              <div class="item" id="artist_search">아티스트</div>
              <div class="item" id="location_search">위치</div>
            </div>
          </div>
          <input type="text"  placeholder="를 검색해보세요"name="artist_name" />
        </div>

      <% end %>
    </div>
  </div>
  <div class="right menu"> <!-- 오른쪽 Navbar -->
     <a class="ui item" href="/shows">공연</a>
     <a class="ui item" href="/artists">아티스트</a>

     <%if user_signed_in?%>
       <div class="ui right dropdown item">
          <div class="ui simple dropdown">
              <div class="text"> <%= current_user.name%>님 </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="ui item" href="/dashboard/home">대쉬보드</a>
              <a class="ui item" href="/dashboard/guerillart">나의게릴라트</a>
              <a class="ui item" href="/dashboard/profile">계정관리</a>

              <% if current_user.artist_name? %>
              <% artist_name = current_user.artist_name %>
              <a class="ui item" href="/dashboard/write">공연등록</a>

              <a class="ui item" href="/artists/name/<%=artist_name%>"><%=artist_name%>페이지<input type="hidden" name="artist_name" value="artist_name"></a>
              <% end %>
              <a class="ui item" href="/logout" data-method="delete">로그아웃</a>
            </div>
          </div>
       </div>
     <% else%>

     <a class="ui item" id="start_signup_modal">회원가입</a>
     <a class="ui item" id="start_signin_modal">로그인</a>
     <% end %>
  </div> <!-- 오른쪽 Navbar 끝 -->
</div>  <!-- Navbar 끝 -->






<script>
// 검색의 드롭다운
$("#go-dropdown").dropdown();
// 모달 셋팅
$('.ui.basic.modal')
.modal('attach events', 'show') // 버튼 뻄. 넣는다면 한페이지의 모든 버튼 이벤트 대신 이 모달이 열림
.modal('setting', {
    detachable: false,
    allowMultiple: false,
    observeChanges: false,
    blurring: true,
    transition: 'vertical flip'
});
// 모달 버튼
document.getElementById('start_signin_modal').onclick = function() {
  $('.ui.basic.modal.signin').modal('show');
}
document.getElementById('start_signup_modal').onclick = function() {
  $('.ui.basic.modal.signup').modal('show');
}
</script>
