<!-- 아티스트 프로필 헤더 -->
<div class="ProfileCanopy-header u-bgUserColor">
    <div class="ProfileCanopy-headerBg" style="margin-top:-20px">
      <img alt="" src="https://pbs.twimg.com/profile_banners/74550725/1467017138/1500x500" height="350px" width="100%" >
    </div>

  <div class="AppContainer">
    <div class="ProfileCanopy-avatar" style="margin-top:-150px;">
      <a class="ProfileAvatar-container u-block js-tooltip profile-picture"   data-resolved-url-large="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg" data-url="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg" target="_blank" data-original-title="Wonder Girls">
    </div>
  </div>
</div>

<div class="container">
  <img src="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg"
  alt="wondergirls" class="img-circle" style="box-shadow: 5px 10px 30px #888888;"
  width="300" height="300">
</div>

<div class="container">

        <div class="col-md-7 user-details">

            <div class="row overview">
                <div class="col-md-4 user-pad text-center">
                    <h3>Followers</h3>
                    <h4><%= current_user.followers.length %></h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>Following</h3>
                    <h4><%= current_user.followings.length %></h4>
                </div>
                <div class="col-md-4 user-pad text-center">
                    <h3>Show</h3>
                    <h4>1</h4><!--TODO 아티스트가 등록한 공연의 개수-->
                </div>
            </div>
        </div>
      </div>

<!-- 아티스트 프로필 -->
<div class="container" style="color: #F5F5F5;">
  <div class="row" >
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" style="margin-top: 32px;margin-right: 37px;">
        <div class="caption" style="text-align:center">
        <p><h2><%= @users.artist_name %></h2></p>

          <% if user_signed_in? && current_user.id != @users.id%>
            <% if current_user.followings.include?(@users) %>
              <%= form_tag follow_path(@users.id), method: :delete, class: "right" do %>
                <button class="btn">팔로우 취소</button>
              <% end %>
            <% else %>
              <%= form_tag follows_path, class: "right" do %>
                <input type="hidden" name="followed_id" value="<%= @users.id %>" />
                <button class="btn">팔로우</button>
              <% end %>
            <% end %>
          <% end %>

        <p>한줄소개 : <%= @users.introduction %></p>
        <p>주 활동지역 : <%= @users.area %></p>
        <p><%= @users.sns %></p>
        <p>가입일:<%= @users.created_at %></p>

        <% if current_user.artist_name == @users.artist_name %>
          <% user = @users.artist_name %>
          <div class="btn btn-default">
            <%= link_to "수정하기", controller: "dashboard", action:"mypage_edit", artist_name: user %>
          </div>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- 새 글 작성 폼시작 -->
<% if @users.artist_name == current_user.artist_name %>
<div class="container" style="color: #F5F5F5;">
     <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
              <div class="caption">
              <h4>새 글 작성하기</h4>
              </div>
             <%= form_tag '/dashboard/write_post' do %>
               <textarea class="form-control" value="content" name="content" rows="3" placeholder="무슨 생각을 하고 있어요?"></textarea>
               <input type="submit" class="btn" value="확인">
             <% end %>
         </div>
       </div>
    </div>
</div>
<% end %>



<!-- 글 보여주기 -->
<div class="container col-sm-4 posts_get">
  <% @posts.reverse.each do |post| %>
  <!-- 현 아티스트페이지의 아티스트가 쓴 글만 보인다 -->
    <% if @users.id == post.user_id %>
    <div class="panel panel-default">
      <!-- 아티스트가 글쓴 내용 -->
      <div class="panel-heading">
        <p>내용:<%= post.content %></p>
        <p><a id="op-comments-<%= post.id %>">댓글 <b><%= post.comments.size %></b></a></p>
      </div>
      <div class="panel-body" style="display:none;" id="op-comment-lists-<%= post.id %>">
        <!-- 현재 유저에게 보이는 댓글창 -->
        <p>
          <%= current_user.name %>
           <input type="hidden" value="1" name="post_id">
           <textarea class="form-control"name="content" rows="1" id="content_<%= post.id %>" placeholder="댓글 내용을 입력하세요."></textarea>
           <button value="<%= post.id %>" type="submit" class="btn btn-default reply_submit">확인</button><hr>
        </p>
        <!-- 글쓴 내용에 달린 댓글 출력 -->
        <% unless post.comments.nil? %>
          <% post.comments.each do |comment| %>
          <div class="container" id="comments" style="max-width:900px">
            <div style="max-width:700px">
              <a class="pull-left" href="#" style="margin-right:10px">
                <img class="media-object dp img-circle" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="width:50px; height:50px;">
              </a>
              <div class="media-body" style="max-width:700px">
                <h4 class="media-heading"><%= comment.user.name %>
                  <small><%= comment.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분%S초") %></small>
                  <br>
                  <small style="color:black"><%= comment.content %></small>
                </h4>
              </div>
            </div>
          </div>
          <hr>
          <div id="reply_<%= post.id %>"></div>
        <% end %>
      <% end %>
    <% end %>
    <!-- 댓글 출력 끝-->
    </div>
  </div>
  <% end %>
</div>



<!-- 댓글 시작 -->
<script>
$(function() {
  $(".reply_submit").click(function(){

    post_id = this.value;
    post_content = $("#content_" + post_id).val()

    $.ajax({
      method: "POST",
      url:  "/comments/create",
      data: { content: post_content,
              post_id: post_id },
      success: function(data){
        console.log("리플이 작성되었습니다");
        $( "#reply_" + post_id ).append( "<p>" + "댓글:" + post_content + "</p>" + "<h5>" + "작성자" + data[0].user.name + "날짜:" + data[0].cmt.created_at + "</h5>" );
        $( "#content_" + post_id).val('');
      },
      error: function(){
        console.log("에러에러에러에러에러다");
      }
    });

   });
   // TODO 포스트마다의 댓글 펼치기 기능
});

</script>
