<style>
/* 퐐로워 */
.artist-info-th {
  margin-top: -180px;
  margin-left: 356px;
}

/* 왼쪽 정보들 : 아티스트들의 정보 */
.artist-profile-info {
  color: #F5F5F5;
  width: 350px;
  margin-left: 100px;
  float:left;
}
/* 정중앙, 아티스트의 글쓰기와 포스트들 */
.post-by {
  max-width: 450px;
  margin-left: 480px;
  margin-top: 40px;
}
/* 오른쪽 정보들 : 아티스트의 공연 */
.this-artist-shows {
  margin-top: 30px;
}
</style>

<!-- 아티스트 프로필 헤더 -->
<div class="ProfileCanopy-header u-bgUserColor"  style="margin-top:70px">
    <div class="ProfileCanopy-headerBg">
      <img alt="" src="https://pbs.twimg.com/profile_banners/74550725/1467017138/1500x500" height="350px" width="100%" >
    </div>

  <div class="AppContainer">
    <div class="ProfileCanopy-avatar" style="margin-top:-150px;">
      <a class="ProfileAvatar-container u-block js-tooltip profile-picture" data-resolved-url-large="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg" data-url="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg" target="_blank"
       data-original-title="<%= @users.artist_name %>-title">
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-left:90px">
  <!-- 아티스트의 프로필 사진 -->
  <img src="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg"
  alt="<%= @users.artist_name %>" class="img-circle" style="box-shadow: 5px 5px 30px #888888;"
  width="300" height="300">
  <!-- 퐐로수, 공연등록 수-->
  <div class="artist-info-th">
    <div class="col-md-7 user-details">
      <div class="row overview">
        <div class="col-md-4 text-center">
          <h3>Followers</h3>
          <h4><%= @users.followers.length %></h4>
        </div>
        <div class="col-md-4 text-center">
          <h3>Following</h3>
          <h4><%= @users.followings.length %></h4>
        </div>
        <div class="col-md-4 text-center">
          <h3>Shows</h3>
          <% #seeds.rb 값을 보면 creator_id를 이미 넣어줘서 이미 공연이 등록됬다고 보면됨 %>
          <h4><%= @users.creations.size %></h4>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- 아티스트 프로필, 왼쪽에 위치한다-->
<div class="artist-profile-info">
  <div class="thumbnail" style="margin-top: 40px; margin-right: 37px;">
    <div class="caption" style="text-align: left">
      <b style="font-size:3em"><%= @users.artist_name %></b>
      <p>
        <%= @users.introduction %></br>
        </br>
        <span class="glyphicon glyphicon-map-marker"></span> <%= @users.area %></br>
        <span class="glyphicon glyphicon-link"></span> <%= @users.sns %></br>
        가입일 <%= @users.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d") %></br>
      </p>
      <span>
      <% if user_signed_in? && current_user.id != @users.id %>
        <% if current_user.followings.include?(@users) %>
          <%= form_tag follow_path(@users.id), method: :delete, class: "right" do %>
            <button class="btn btn-primary">팔로우 취소</button>
          <% end %>
        <% else %>
          <%= form_tag follows_path, class: "right" do %>
            <input type="hidden" name="followed_id" value="<%= @users.id %>" />
            <button class="btn btn-primary">팔로우</button>
          <% end %>
        <% end %>
      <% end %>
      </span>
      <% if current_user.artist_name == @users.artist_name %>
        <% user = @users.artist_name %>
        <%= link_to "수정하기", controller: "dashboard", action:"mypage_edit", artist_name: user %>
      <% end %>
    </div>
  </div>
</div>






<!-- 정중앙에 트위터처럼 위치해야하는 엘리멘트들 -->
<div class="post-by">


  <!-- 새 글 작성 폼시작 -->
  <% if @users.artist_name == current_user.artist_name %>
    <div style="margin-bottom:10px">
      <%= form_tag '/dashboard/write_post' do %>
        <div class="panel panel-default" style="width:450px; height:200px">
          <div class="panel-body">
            <textarea class="form-control counted" value="content" name="content" placeholder="무슨 생각을 하고 있어요?" rows="5" style="margin-bottom:10px;"></textarea>
            <h6 class="pull-right" id="counter">320 characters remaining</h6>
            <button class="btn btn-info" type="submit">글쓰기</button>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

    <% @posts.reverse.each do |post| %><!-- 글 보여주기 -->
    <% if @users.id == post.user_id %><!-- 현 아티스트페이지의 아티스트가 쓴 글만 보인다 -->
    <div class="posts_get thumbnail">
      <!-- 아티스트가 글쓴 내용 -->
      <div>
        <a class="pull-left" href="#">
          <img class="media-object dp img-circle" src="https://pbs.twimg.com/profile_images/747350188763668481/nZ_JFwxj.jpg"
          alt="<%= @users.artist_name %>" style="width:70px; height:70px;">
        </a>
        <p><%= post.content %></p>
        <p>
          <a id="op-comments-<%= post.id %>">댓글
          <b><%= post.comments.size %></b></a>
        </p>
      </div>
      <hr>
      <!-- 현재 유저에게 보이는 댓글창 style="display:none;" -->
      <div class="show-comment-window">
        <div class="col-lg-10">
          <a class="pull-left" href="#" style="margin-right:10px">
            <img class="media-object dp img-circle" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="width:70px; height:70px;">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= current_user.name %>
              <input type="hidden" value="<%= post.id %>" name="<%= post.id %>">
            </h4>
            <input class="form-control" name="content" rows="1" id="content_<%= post.id %>" placeholder="댓글 내용을 입력하세요">
          </div>
        </div>
        <div class="form-group">
          <button value="<%= post.id %>" type="submit" class="btn btn-primary reply_submit">확인</button>
        </div>
      </div>
      <hr>
      <!-- 글쓴 내용에 달린 댓글 출력 -->
      <% unless post.comments.nil? %>
        <% post.comments.each do |comment| %>
          <div id="comments">
            <a class="pull-left" href="#">
              <img class="media-object dp img-circle" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" style="width:50px; height:50px;">
            </a>
            <div class="media-body" style="padding-left:15px">
              <h4 class="media-heading">
                <span style="color:black"><%= comment.user.name %></span>
                <small><%= comment.created_at.in_time_zone("Asia/Seoul").strftime("%Y-%m-%d %H:%M:%S") %></small>
                <br>
                <small style="color:black"><%= comment.content %></small>
              </h4>
            </div>
          </div>
          <div id="reply_<%= post.id %>"></div>
          <hr>
        <% end %>
      <% end %><!-- 끝 : 글쓴 내용에 달린 댓글 출력 -->
    </div>
    <% end %><!-- 끝 : 현 아티스트페이지의 아티스트가 쓴 글만 보인다 -->
  <% end %><!-- 끝 : 글 보여주기 -->
</div>



<!-- 댓글 시작 -->
<script>
$(function() {
  $(".reply_submit").click(function(){

    post_id = this.value;
    post_content = $("#content_" + post_id).val()

    $.ajax({
      method: "POST",
      url:  "/comments/create",
      data: { content: post_content,
              post_id: post_id },
      success: function(data){
        console.log("리플이 작성되었습니다");
        $( "#reply_" + post_id ).append(
            "<div id=" + "comments" + "style=" + "color:black" + ">"
            + "<a class=" + "pull-left" + "href=" + "#" + "></a>"
              + "<img class=" + "media-object dp img-circle" + "src=" + "https://ssl.gstatic.com/accounts/ui/avatar_2x.png"             + "style=" + "width:50px; height:50px;" + ">"
              + "<div class=" + "media-body" + "style=" + "padding-left:15px" + ">"
              + "<h4 class=" + "media-heading" + ">"
              + "<span style=" + "color:black" + ">"
                + data[0].user.name
              + "</span>"
              + "<small> " + data[0].cmt.created_at + "</small>"
              + "<br>"
            + "<small style=" + "color:black" + ">"
                + post_content
            + "</small>"
            + "</h4></div></div>"
          );
        $( "#content_" + post_id).val('');
      },
      error: function(){
        console.log("에러에러에러에러에러다");
      }
    });

   });
   // TODO 포스트마다의 댓글 펼치기 기능
});
</script>
