<div id="#<%= @current_genre %>"  class="clearfix grid">
  <%
    @shows.reverse.each do |show|
    if show.genre == @current_genre || "모아보기" == @current_genre
      # 모달에 값을 넘겨준다
      @show = show
  %>
  <%= render partial: "/layouts/show_modal" %>

    <figure class="effect-oscar wowload fadeInUp">
      <!-- TODO 서버에 저장해놓은 사진으로 대체해야한다 -->
      <img src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg" alt="img01"/>
      <figcaption>
        <h2><%= show.title %></h2>
        <p><%= show.location %><br>
            <%= show.date  %><br>
            <%= show.time %><br>
        </p>
        <p>
          <a class="btn" data-toggle="modal" data-target="#upcomings-modal-<%= show.id %>">
              <input type="hidden" name="show_id" value="<%= show.id %>">
              More
          </a>
        </p>
      </figcaption>
    </figure>
    <%
    end
  end
%>
</div>
