<div class="modal fade" id="upcomings-modal-<%= @marshall_show_modal.id %>">
  <div class="modal-lg modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-title">
          <img style="float:left;" src="https://pbs.twimg.com/profile_images/378800000445879850/a11984ecd97f090790ef89d52233e842.jpeg" alt="범준" class="img-circle" width="70px" height="70px"  class="img-responsive">
          <h4 style="float:left; margin-left:20px">
            <%= @marshall_show_modal.title %>
          </h4>
          <%
            # 공연을 등록한 아티스트를 찾는다.
            this_artist = User.find_by(id: @marshall_show_modal.user_id)
            if !this_artist.nil?
          %>
          <p style="float:left; margin-left:20px"><%= this_artist.artist_name %></p>
          <% else %>
          <p style="float:left; margin-left:20px">장범준</p>
          <% end %>
        </div>
      </div>

      <div class="modal-body">
        <!-- TODO 서버에 저장해놓은 사진으로 대체해야한다 -->
        <img style="float:left;" src="/images/portfolio/<%= (1..12).to_a.sample %>.jpg" class="img-responsive" width="400px"/>
        <h4 style="float:left; margin-left:20px">공연정보</h4>
        <div style="float:left; text-align: left;">
          장소 : <%= @marshall_show_modal.location %><br>
          시각 : <%= @marshall_show_modal.time %>, <%= @marshall_show_modal.date %><br>
          장르 : <%= @marshall_show_modal.genre %><br>
          <br>플레이리스트 :<br>
          <%= @marshall_show_modal.playlist %>
          <br>
        </div>
      </div>

      <!-- 꼭 보러갈래요 : 사용자가 본 공연을 위한 기능 -->
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"><br></span>
        <%= @marshall_show_modal.likes.size %>
        <% unless current_user.nil? %>
          <% if current_user.is_like?(@marshall_show_modal) %>
           <a href="/shows/<%= @marshall_show_modal.id %>/like">꼭 보러갈래요 취소</a>
          <% else %>
           <a href="/shows/<%= @marshall_show_modal.id %>/like">꼭 보러갈래요</a>
          <% end %>
        <% end %>
      </button>
      <!-- 댓글쓰기 버튼 : TODO 공연이 끝난 후 작성할 수 있다. -->
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-comment" aria-hidden="true"><br></span>
        <%= @marshall_show_modal.comments.size %>
      </button>
      <!-- TODO 공유하기 : 공유된 횟수를 보여준다-->
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"><br></span>
        22
      </button>
      <!-- TODO 조회수 : 사용자와 관계없이 모달을 클릭하면 올라간다 -->
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"><br></span>
        <%= @marshall_show_modal.view_count %>
      </button>
      <!-- 댓글 펼치기 : TODO 버튼을 눌렀을 때에만 나와야한다 -->
      <%= render partial: "layouts/show_modal_comments", object: @marshall_show_modal %>
    </div>
  </div>
</div>
